.Rproj.user
.Rhistory
.RData
.Ruserdata
QueryData.R
data
graphs
results
.RDataTmp
Queries
Thumbs.db
Zprod queries.R
outlier_results.csv
outliers.csv
analyses for evaluations.R
Presentations
clipboard.bmp
clipboard.jpg
zprod145from_g_bio_eff (version 1).csv
zprod145from_g_bio_eff.csv
zprodtables.csv
alldata and outlier_results_RII_Elisa.csv
outliers_RII_Elisa.csv
gitcertificate.cer
certificate.cer
.RDataTmp1
